{% extends "inventorymanager/layout.html" %}
{% load crispy_forms_tags %}


{% block body %}
{% if messages %}
<div class="messages">

        {% for message in messages %}
        <!-- Warning Messages-->
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                        </div>        
                {% endif %}
        
        {% endfor %}

</div>
{% endif %}
<h1 class="mt-4">Create Supplier</h1>

<div class="mt-3">
        <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Create Supplier</button>
        </form>
</div>



{% endblock body %}

