{% extends "inventorymanager/layout.html" %}
{% load crispy_forms_tags %}


{% block body %}
<div class="card shadow mt-4">
    <div class="card-header py-3">
        <h2 class="m-0 font-weight-bold text-primary">Order number: {{ order.id }}</h2>
    </div>
    <div class="card-body">
            <p id="order_customer_name_p{{ order.id }}"><strong>Customer: </strong>{{ order.customer }}</p>
            <p ><strong>Date: </strong>{{ order.order_date|date:"M j, Y"}}</p>
            {% for item in orderItem %}
            
            <p id="order_quantity_p{{ item.id }}"><strong>Quantity:</strong> {{ item.quantity }}</p>
            <p id="order_unit_price_p{{ item.id }}"><strong>Unit price: </strong> {{ item.unit_price }}</p>
            <p id="order_product_p{{ item.id }}"><strong>Product:</strong> {{ item.product }}</p>
            {% endfor %}
    </div>
</div>            

<div class="d-flex">
    <div class="mt-2 flex-grow-1">
        <a type="button" class="btn btn-secondary" href="{% url 'orders' %}">Go back</a>
    </div>
    <div class="mt-2">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteOrderModal">Cancel order</button>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteOrderModal" tabindex="-1" aria-labelledby="deleteOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteOrderModalLabel">Delete Supplier</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to cancel this order?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="location.href='{% url 'delete_order' order.id %}'">Cancel order</button>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
