{% extends "inventorymanager/layout.html" %}

{% block body %}
{% if messages %}
    <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
<h1 class="mt-4">Orders and Items</h1>

<a type="button" class="btn btn-primary mb-2" href="{% url 'create_order' %}">Create Order</a>

<div class="container"></div>
    <div class="card shadow mb-4">
            <div class="card-header py-3">
            
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="ordersTable" class="table table-bordered" data-type="order" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Order Date</th>
                                <th>Customer</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                {% for item in order.order_items.all %}
                                <tr data-id="{{ order.id }}">
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.order_date|date:"d/m/Y" }}</td>
                                    <td>{{ order.customer.first_name }} {{ order.customer.last_name }}</td>
                                    <td>{{ item.product.name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>${{ item.unit_price|floatformat:"2g" }}</td>
                                    
                                    {% if forloop.first %}
                                    <td rowspan="{{ order.order_items.count }}" class="align-middle">${{ order.total_value|floatformat:"2g" }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>

            </div>
        </div>
</div>


{% endblock body %}

