{% extends "inventorymanager/layout.html" %}

{% block body %}

<div class="card shadow mt-4">
    <div class="card-header py-3">
        <h2 class="m-0 font-weight-bold text-primary">{{ product.name }}</h2>
    </div>
    <div class="card-body">
       
        <p>Description: {{ product.description }}</p>
        <p>Unit Cost: {{ product.unit_cost }}</p>
        <p>Quantity in Stock: {{ product.quantity_in_stock }} units</p>
    </div>
</div>  

<div>
    <button class="btn btn-primary mt-2">Edit product</button>
</div>
{% endblock body %}
